h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
md-grid-tile {
  background: lightblue;
}


/*container-grid*/
.container-grid{width: 100%;display: block;position: relative;height: 100%;}

/*grid-navbar*/
.container-grid .grid-navbar{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #868686;
}
.container-grid .grid-sidebar{width: 7%;height: 100%;float: left;position: fixed;border-right: 1px solid #868686;}
/*.container-grid .grid-sidebar.sidebar-large{width: 20%;}*/
.container-grid .grid-content{position: relative;width: 80%;height: 100%;float: right;}

/*container-content*/
.container-content{position: relative;padding: 15px;}

/*navbar*/
/*.navbar-container{position: absolute;}*/
#repair-nav{
    height: 65px;
    position: relative;
    margin-top: 0px;
    display: block;
}
.navbar-container{padding-left:0px;}
.navbar-container .account-icon {padding: 0 20px; font-size: 40px;margin-top: -10px;}
.navbar-container .nav-spacer {flex: 1 1 auto;}

.navbar-container #nav-button {
    top: 0px;
    left: 0px;
    border-right: 1px solid #868686;
    padding: 14px 33px;
    min-width: auto;
    margin: 0px 0px;
    border-radius: 0px;
    margin-right: 15px;
}

/*sidenav*/
.sidenav-container {width: 100%;height: 100%;background: none;position:absolute;}
.sidenav-container .sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}


/*.mat-sidenav-backdrop{display: none!important;}*/
/*.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content{
      width: 100%;
    margin: 0 auto;
    display: block;
}*/
.sidenav-container .sidenav {padding: 0px;width: 100%;}
.sidenav-container .sidenav .mat-list{padding-top:0px;}
.sidenav-container .sidenav .mat-list .mat-list-item{width:100%;}
.sidenav-container .sidenav .mat-list ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sidenav-container .sidenav .mat-list ul li{
  display: table;
  margin: 0px auto;
  border-bottom: 1px solid #b1b1b1;
  width: 100%;
  text-align: center;
  margin-right: 0px;
  padding: 0px 0px;
  transition:all 0.2s;
}
.sidenav-container .sidenav .mat-list ul li:hover{
  background-color: #ccc;
  transition:all 0.2s;
}
.sidenav-container .sidenav .mat-list ul li button{
  border-radius: 0px;
  color: #607d8b;
  /*width: 100%;*/
  width: 230px;
  height: 70px;
  will-change: width;
  display: block;
  overflow: hidden;
  position: relative;
}
.sidenav-container .sidenav .mat-list ul li button.sidebar-button{width:330px;}

:host >>> .sidenav-container .sidenav .mat-list ul li button .mat-button-ripple-round{
  border-radius: 0px;
}

.sidenav-container .sidenav .mat-list ul li button md-icon{
    font-size: 35px;
    width: auto;
    height: auto;
    position: absolute;
    top: 25px;
    left: 27px;
}

:host >>> .sidenav-container .sidenav .mat-list ul li button .sidenav-button-text{
    margin-left: 85px;
    font-size: 16px;
    will-change: opacity;
    float: left;
    display: block;
}
/*:host >>> .sidenav-container .sidenav .mat-list ul li button .sidenav-button-text-visible{display: block!important;}*/
:host >>> .sidenav-sub-menu{
  display: none!important;
}