<div class="container-grid">
	<div class="grid-navbar">
		<md-toolbar class="navbar-container">
			<button type="button" id="nav-button" md-button (click)="handleOnOpen($event)">
				<md-icon>apps</md-icon>
			</button>
			<span>A R K</span>
			<span class="nav-spacer"></span>
			<md-icon class="account-icon">account_circle</md-icon>
		</md-toolbar>
	</div>
	<div id="repair-nav"></div>

	<div class="grid-sidebar" [class.sidebar-large]="sidebarLarge" [@openCloseSidebar]="stateSidebar">
		<md-sidenav-container class="sidenav-container">
			<md-sidenav #sidenav class="sidenav" opened="true">
				<md-list>
					<!--<md-list-item>-->
						<!--<button md-button><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></button>-->
						<ul>
							<li>
								<button md-icon-button [mdMenuTriggerFor]="menuUsers" (onMenuOpen)="handleMenuOpen($event)">
									<md-icon>people_outline</md-icon>
								</button>
								<md-menu #menuUsers="mdMenu" xPosition="before">
									<button md-menu-item>
										<md-icon>supervisor_account</md-icon>
										<span>Usuários</span>
									</button>
									<button md-menu-item>
										<md-icon>add</md-icon>
										<span>Novo</span>
									</button>
								</md-menu>
							</li>
					<!--</md-list-item>-->
					<!--<md-list-item>-->
						<!--<button md-button><a routerLink="/heroes" routerLinkActive="active">Heroes</a></button>-->
						<li>
							<button md-icon-button [mdMenuTriggerFor]="menu">
								<md-icon>star_border</md-icon>
							</button>
							<md-menu #menu="mdMenu">
								<button md-menu-item>
									<md-icon>whatshot</md-icon>
									<span>Herois</span>
								</button>
								<button md-menu-item>
									<md-icon>add</md-icon>
									<span>Novo</span>
								</button>
							</md-menu>
						</li>
						</ul>
					<!--</md-list-item>-->
				</md-list>
			</md-sidenav>

			<div class="sidenav-content">
			</div>
			
		</md-sidenav-container>
	</div>
	
	<div class="grid-content" [@openCloseContent]="stateContent">
		<div class="container-content">
				<h1>{{title}}</h1>
				<router-outlet></router-outlet>
		</div>
	</div>
</div>
<!--<sidenav></sidenav>-->
<!--<md-grid-list cols="2" layout-wrap>
	<md-grid-tile>
		<h1>OLA MUNDO</h1>
		<ul>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
		</ul>
	</md-grid-tile>
	<md-grid-tile>
		<ul>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
		</ul>
	</md-grid-tile>
	<md-grid-tile>
		<ul>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
		</ul>
	</md-grid-tile>
	<md-grid-tile>
		<ul>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
			<li>ola</li>
		</ul>
	</md-grid-tile>
</md-grid-list>-->